.messages {
    background-color: #252526;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 350px;
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: white;
}