$font: #858585;
$channelColor: #0d0d0d;
$roomColor: #252526;
$messagesColor: #1e1e1e;
.titlebar {
    background-color: #2f3542;
    color: #858585;
    font-size: 0.7em;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1em;
}
.container {
    display: flex;
    justify-content: flex-start;
    color: $font;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .channels {
        // width: 75px;
        width: 0px;
        background-color: $channelColor;        
        display: flex;
        flex-direction: column;
    }
    .rooms {
        width: 150px;
        background-color: $roomColor;        
        display: flex;
        flex-direction: column;
    }
    .main {
        width: 100vw;
        background-color: $messagesColor;
    }
}