$font: #858585;
$roomColor: #252526;
$messagesColor: #1e1e1e;
.container {
    display: flex;
    justify-content: flex-start;
    color: $font;
}
.header {
    width: 120px;
    background-color: $roomColor;        
    display: flex;
    flex-direction: column;
}
.main {
    width: 100%;
    background-color: $messagesColor;
}