.header {
    margin-top: 10px;
    margin-left: 10px;
}
.rooms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    max-height: calc(95vh - 31%);
    width: 150px;
    padding: 0;
    li {
        width: 100%;
        font-size: 12px;
        padding-left: 17px;
        padding-top: 4px;
        padding-bottom: 4px;
        cursor: pointer;
        &:hover, &.selected {
            background-color: #2f3542;
        }

        .cols {
            display: flex;
            justify-content: space-between;
            margin-right: 12px;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #2f3542;
        border-radius: 10px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 1px white;
    }

    .input {
        width: 125px;
        height: 19px;
        margin-top: 15px;
        margin-left: 15px;
        outline: none;
        background-color: grey;
        border: 0;
        border-radius: 2px;
        color: #2f3542;
    }
}

.btnGroup {
    display: flex;
    justify-content: center;
    align-items: center;

    .btnAdd {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5em;
        height: 2.5em;
        border-color: transparent;
        border-radius: 50%;
        background-color: #35383D;
        cursor: pointer;

        &:hover {
            background-color: #2f3542;
        }
    }
}